/* font families:
font-family: 'Fresca', sans-serif;
font-family: 'Encode Sans Semi Expanded', sans-serif; */



body {
    text-align: center;
    background: #cbced1;
    color: white;
    font-family: 'Fresca', sans-serif;
    padding-top: 150px;
}
