/* font families:
font-family: 'Fresca', sans-serif;
font-family: 'Encode Sans Semi Expanded', sans-serif; */



body {
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Fresca', sans-serif;
    padding-top: 150px;
    background-image: url(../images/intersection.png);
}
